name: flake8 Lint

on: [ pull_request ]

jobs:
  flake8-lint:
    runs-on: ubuntu-latest
    name: Lint
    steps:
      - name: Check out source repository
        uses: actions/checkout@v2
      - name: Set up Python environment
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"
      - name: flake8 Lint
        uses: py-actions/flake8@v2
        with:
          exclude: "migrations"
          max-line-length: "120"
      - name: Retry Step
        uses: nick-fields/retry@v2
        with:
          timeout_seconds: 15
          max_attempts: 1
          retry_on: error
          command: npm run some-typically-fast-script

